
body {
    background-color: #e4ebea ;
    padding: 30px;
    border: 1px solid rgb(147, 173, 170);
 }

h3,
h5 {
     color: rgb(37, 90, 105);
     text-shadow: 1px 1px rgb(252, 252, 252);
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
 }

.row {
     text-align: center;
     color: rgb(37, 90, 105);
     font-family: 'Times New Roman', Times, serif;
 }
.contact {
     text-decoration: double;
     text-align: center;
     align-content: center;
     color: rgb(37, 90, 105);
     font-family: 'Times New Roman', Times, serif;
 }

 